@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}

	.animation-delay-4000 {
		animation-delay: 4s;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #33333382;
	background-color: #000;
	border-radius: 40px;
}

::-webkit-scrollbar-track {
	background-color: #fefefe;
	background-color: #a0a0a011;
	margin-top: 5px;
	margin-right: 2px;
}

* {
	scroll-behavior: smooth;
}

.nav-header {
	font-family: 'Protest Revolution', sans-serif;
	font-weight: 400;
	font-size: 3.4rem;
	color: #000;
	/* color: #f1f1f1ae; */
	font-style: normal;
}

.collection-header {
	font-family: 'Protest Revolution', sans-serif;
	font-weight: 400;
	font-size: 4em;
	letter-spacing: 2rem;
	color: #000;
	font-style: normal;
}

body.active-modal {
	overflow-y: hidden;
}

.btn-modal {
	padding: 10px 20px;
	display: block;
	margin: 100px auto 0;
	font-size: 18px;
}

.modal,
.overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.overlay {
	background: rgba(49, 49, 49, 0.8);
	backdrop-filter: blur(10px);
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 61%;
	transform: translate(-50%, -50%);
	line-height: 1.4;
	background: #f1f1f1;
	padding: 36px 56px;
	border-radius: none;
	max-width: 600px;
	min-width: 300px;
}

.accordion {
	transition: height 3s ease-in-out;
}

.modal-content h2 {
	visibility: hidden;
}
.close-modal {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 7px;
}
